<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Number for the current RSC folder (e.g. RSC_10) from 1 – 99. Will automatically roll back over to 1. 
    "0" indicates no RSC folder is set and will result in the default "##". -->
    <add key="processNum" value="0" />
    <!-- Minimum number of RSC notifications required for processing. -->
    <add key="MIN_NUMBER_TO_PROCESS" value="3" />
    <!-- Cutoff time for processing. Any notifications that come in after this time won’t be processed till the following day. 
       Default is 10pm (22) -->
    <add key="CUTOFF_TIME" value="22" />
    <!-- Directory the notifications will be saved to and the dated folders created. -->
    <add key="ROOT" value="E:\\RSC\\" />
    <!-- Don't modify this value! -->
    <add key="ERROR" value="-1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>