<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RSC.Properties.Settings>
            <setting name="MIN_NUMBER_TO_PROCESS" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CUTOFF_TIME" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="ROOT" serializeAs="String">
                <value>"E:\\RSC\\"</value>
            </setting>
            <setting name="ERROR" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="processNum" serializeAs="String">
                <value>19</value>
            </setting>
        </RSC.Properties.Settings>
    </userSettings>
</configuration>